# Arquivos compilados
*.class
*.apk
*.ap_

# Diretórios gerados
bin/
gen/
out/
build/
.gradle/

# Arquivos de configuração do Android Studio
.idea/
*.iml
local.properties

# Diretórios de logs
*.log

# Outros
.DS_Store

